<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylelanding.css">
</head>
<body>
    <div class="header">
        <h3>FoodParlour</h3>
        <div>
            <a href="/cart2">cart</a> 
            <span id="count_documents">0</span>
        </div>      

    </div>


   
    <div class="body">
        <h4>Order Food</h4>
        <div class="products" id="allproducts"> </div>
    
    </div>

    <div class="footer">
        <p>© 2026 FoodParlour. All rights reserved.</p>
    </div>

    <script src="landing.js"></script>
</body>
</html>