<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StepOne</title>
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>StepOne</h2>
    <label for="">name</label>
    <input type="text"  placeholder="products description" id="itemName">
    <label for="">price</label>
    <input type="number" placeholder="products price" id="itemPrice">


    <p id="para"> </p>

    <button id="btn">Upload</button>

    
    <!--displaying all products-->
    <div id="products"> </div>

    
    
    <script src="superAdmin.js"></script>
</body>
</html>